.header {
    .home-header-container {
        background-color: silver !important;
    }
}

.intro-doctor {

    .content-left {
        overflow: hidden;

        img {
            width        : 100%;
            height       : min-content;
            border-radius: 50%;
            object-fit   : contain;
        }
    }
}

.detail-info-doctor {
    background-color: #f9f9f9;

    img {
        width: 100%;

    }
}

.schedule-doctor {
    .content-left {
        border-right: 1px solid #eee;
    }
}