.content-up {
    .title-clinic {
        color         : #666;
        text-transform: uppercase;
    }

}

.content-down {
    .cost {
        span:first-child {
            color         : #666;
            text-transform: uppercase;
        }
    }
}